<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.IAttentionDao">
    <resultMap id="Map" type="com.example.demo.entity.Attention"></resultMap>

    <insert id="push" parameterType="com.example.demo.entity.Attention">
        insert into attention (id, account, package_id)
        values(#{id},#{account},#{package_id})
    </insert>

    <select id="pull_package" resultType="com.example.demo.entity.Attention_package" parameterType="com.example.demo.entity.Attention_package">
        select package_id,name from attention_package where account=#{account}
    </select>
</mapper>
